In [2]:
import numpy as np
import pandas as pd

In [5]:
data=pd.read_csv("data.csv")

In [6]:
data.head()

     NAME section  marks  Unnamed: 3 GRADE
0   agniv       A     87         NaN    E+
1   akash       B     45         NaN    A+
2  snehil       C     87         NaN    E+
3  aditya       A     87         NaN    E+
4  akash2       C     87         NaN    E+